<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="true" default-autowire="no">
    
    <bean id="generator" class="org.symqle.modeler.generator.Generator">
        <property name="codeWriter" ref="${symqle.modeler.code.writer}"/>
        <property name="modelReader" ref="metadataReader"/>
        <property name="transformers">
            <list>
                <ref bean="sieve"/>
                <bean class="org.symqle.modeler.metadata.TableTransformer"/>
                <bean class="org.symqle.modeler.metadata.ColumnTransformer"/>
                <bean class="org.symqle.modeler.metadata.ForeignKeyTransformer"/>
            </list>
        </property>
    </bean>
    
    <bean id="freeMarkerPlainKeysWriter" class="org.symqle.modeler.generator.CodeWriter">
        <property name="packageNames">
            <map>
                <entry key="model" value="${symqle.modeler.model.package}"/>
                <entry key="dto" value="${symqle.modeler.dto.package}"/>
                <entry key="dao" value="${symqle.modeler.dao.package}"/>
            </map>
        </property>
        <property name="outputDirectory" value="${symqle.modeler.generated.sources.dir}"/>
        <property name="samplesDirectory" value="${symqle.modeler.generated.samples.dir}"/>
        <property name="packageWriters">
            <list>
                <ref bean="freeMarkerPlainKeysTableWriter"/>
            </list>
        </property>
    </bean>

    <bean id="tableWriter" class="org.symqle.modeler.generator.PackageWriter">
        <property name="packageKey" value="model"/>
        <property name="classWriter">
            <bean class="org.symqle.modeler.generator.FreeMarkerClassWriter">
                <property name="templateName" value="freemarker/PlainKeysTable.ftl"/>
            </bean>
        </property>
    </bean>

    <bean id="freeMarkerPlainKeysDtoWriter" class="org.symqle.modeler.generator.PackageWriter">
        <property name="packageKey" value="dto"/>
        <property name="classWriter">
            <bean class="org.symqle.modeler.generator.FreeMarkerClassWriter">
                <property name="templateName" value="freemarker/PlainKeysDto.ftl"/>
            </bean>
        </property>
    </bean>

    <bean id="freeMarkerPlainKeysSelectorWriter" class="org.symqle.modeler.generator.PackageWriter">
        <property name="packageKey" value="dao"/>
        <property name="classWriter">
            <bean class="org.symqle.modeler.generator.FreeMarkerClassWriter">
                <property name="templateName" value="freemarker/PlainKeysSelector.ftl"/>
            </bean>
        </property>
    </bean>

    <bean id="metadataReader" class="org.symqle.modeler.metadata.MetadataReader">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
        <property name="url" value="${symqle.modeler.jdbc.url}"/>
        <property name="driverClassName" value="${symqle.modeler.jdbc.driver}"/>
        <property name="username" value="${symqle.modeler.jdbc.user}"/>
        <property name="password" value="${symqle.modeler.jdbc.password}"/>
        <property name="suppressClose" value="false"/>
    </bean>
    
    <bean name="sieve" class="org.symqle.modeler.metadata.Sieve">
        <property name="tableFilters">
            <list>
                <bean class="org.symqle.modeler.transformer.RegexpFilter">
                    <property name="property" value="TABLE_TYPE"/>
                    <property name="pattern" value="ALIAS"/>
                    <property name="matchOutcome" value="DENY"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>default.modeler.properties</value>
                <value>file:${user.home}/.symqle/modeler.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </bean>

</beans>
